<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Đặt hàng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/buying/product-info.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/buying/pricing.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/buying/shipping-info.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/product-details/size-choose.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/buying/buying-section.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/product-details/size-guide-table.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/input-radio.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/except-home-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/buying.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    </th:block>
</head>
<body>
<main id="main-content">
    <div class="main-wrapper container">
        <div class="row">
            <!-- Product Info Section-->
            <section class="product-info-wrapper col-lg-7">
                <div class="product-info">
                    <div class="product-name" th:text="${product.name}"></div>
                    <a class="product-image" th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                        <img class="img-fluid" th:src="${product.image}" alt="image-1"/>
                    </a>
                </div>
            </section>
            <!-- Buying Function Section-->
            <section class="buying col-lg-5">
                <!-- Adress Section-->
                <div class="address-info-wrapper childs">
                    <div class="coupon price-include">
                        <div class="text required-label">Người nhận hàng</div>
                        <div>
                            <input class="form-control" placeholder="Nhập tên người nhận" type="text" th:value="${user_fullname}" id="in-user-fullname"/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="coupon price-include">
                        <div class="text required-label">Điện thoại</div>
                        <div>
                            <input class="form-control" placeholder="Nhập số điện thoại" type="text" th:value="${user_phone}" id="in-user-phone"/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="coupon price-include">
                        <div class="text required-label">Địa chỉ</div>
                        <div>
                            <textarea class="form-control" placeholder="Nhập địa chỉ" rows="2" th:text="${user_address}" id="in-user-address"></textarea>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="input-group" style="margin-top:30px">
                    <input type="text" class="form-control" placeholder="Nhập mã khuyến mãi" id="in-coupon" >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-apply-coupon">Áp dụng khuyến mãi</button>
                    </div>
                </div>
                <!-- Pricing Section-->
                <div class="pricing childs">
<!--                    <h6 class="not-found-size" style="margin-top: 5px; color: #dc3545;"  th:styleappend="${notFoundSize} == true ? '' : 'display:none'">Size giày này đã hết. Vui lòng chọn size khác.</h6>-->
                    <!--                    <div class="size-btn" data-toggle="modal" data-target="#sizeChooseModal">-->
                    <!--                        <button class="btn btn-primary size trans-btn"><span class="size-text">Size</span><span th:data-size="${size}" class="size-details">9US | 42.5VN | 26.2CM</span><i class="fas fa-chevron-down dropdown-arrow"></i></button>-->
                    <!--                    </div>-->
                    <div class="">
<!--                        <h2>Chọn size</h2>-->
<!--                        <select class="size-btn">-->
<!--                            <th:block th:each="size : ${availableSizes}">-->
<!--                                <option   th:text="${size}"></option>-->

<!--                            </th:block>-->

<!--                        </select>-->
                        <label for="quantity"> Số lượng :</label>
                        <input type="number" id="quantity" value="1" default="1" name="quantity" min="1" max="5">
                    </div>
                    <div class="coupon price-include">
                        <div class="text">Giá sản phẩm</div>
                        <input class="form-control text-price-input" id="in-price" type="text"
                               th:value="${productPrice}" readonly/>
                    </div>
                    <div class="coupon price-include">
                        <div class="text">Khuyến mãi</div>
                        <input class="form-control text-price-input" th:value="${product.promotionPrice}" id="in-promotion-value" type="text" readonly/>
                    </div>
                    <div class="coupon price-include">
                        <div class="text">Tổng thanh toán</div>
                        <input class="form-control text-price-input" id="in-total-price" type="text" th:value="${productPrice}"
                               readonly/>
                    </div>
                </div>
                <a th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                    <button class="btn btn-secondary confirm-btn">Quay lại</button>
                </a>
                <button class="btn btn-primary confirm-btn red-btn" id="btn-buy-now" th:style="${notFoundSize} ? 'display:none': ''">Mua ngay</button>
            </section>
        </div>
    </div>

    <!-- Modals-->
    <th:block th:replace="~{fragment/size_choose_modal :: size-choose-modal}"></th:block>
</main>
<th:block id="js-resources">
    <!-- Pagination Js-->
    <script th:src="@{/script/except-home-page.js}"></script>
    <script th:src="@{/script/size-choose.js}"></script>
    <!--    <script th:src="@{/script/buy-page.js}"></script>-->
    <script>
             let price = [[${product.price}]];
             let totalPrice = 0;

           $('#quantity').change(function(){
               let quantity=   parseInt($('#quantity').val(), 10);
                totalPrice  = quantity * price;
            $('#in-total-price').val(totalPrice.toLocaleString());
           });

           $('#btn-buy-now').click(function() {
           let id = new String('[[${product.id}]]');

            let promotionValue = 0;
            // let totalPrice = $('#in-total-price').val();
            let size = $('.size-btn ').val();
            let receiverName = $('#in-user-fullname').val();
            let receiverPhone = $('#in-user-phone').val();
            let receiverAddress = $('#in-user-address').val();
            let isValid = true;
            if (receiverName.length == 0) {
                fullNameInvalid = $('#in-user-fullname').next();
                fullNameInvalid.css('display', 'block');
                fullNameInvalid.html('Vui lòng nhập họ tên người nhận hàng');
                isValid = false;
            }
            if (receiverPhone.length == 0) {
                phoneInvalid = $('#in-user-phone').next();
                phoneInvalid.css('display', 'block');
                phoneInvalid.html('Vui lòng nhập số điện thoại người nhận hàng');
                isValid = false;
            }
            let phoneFormat = new RegExp(/((09|03|07|08|05)+([0-9]{8})\b)/g);
            if (!phoneFormat.test(receiverPhone)) {
                phoneInvalid = $('#in-user-phone').next();
                phoneInvalid.css('display', 'block');
                phoneInvalid.html('Số điện thoại không hợp lệ');
                isValid = false;
            }
            if (receiverAddress.length == 0) {
                addressInvalid = $('#in-user-address').next();
                addressInvalid.css('display', 'block');
                addressInvalid.html('Vui lòng nhập địa chỉ nhận hàng');
                isValid = false;
            }

            if (isValid) {
                req = {
                    product_id: id,
                    size:25,
                    receiver_name: receiverName,
                    receiver_phone: receiverPhone,
                    receiver_address: receiverAddress,
                    product_price: price,
                    total_price: totalPrice,
                }
                var myJSON = JSON.stringify(req);
                console.log(myJSON)
                $.ajax({
                    url: '/api/order',
                    type: 'POST',
                    data: myJSON,
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        toastr.success("Đặt hàng thành công");
                        setTimeout(function() {
                            location.href = "/tai-khoan/lich-su-giao-dich/";
                        }, 5000)
                    },
                    error: function(data) {
                        toastr.alert("đặt hàng thất bại");
                    },
                });
            }
        })


    </script>
</th:block>
<script th:src="@{/script/except-home-page.js}"></script>

<!--<script th:inline="javascript">
&lt;!&ndash;        let price = [[${product.price}]];&ndash;&gt;

&lt;!&ndash;        let promotionValue = 0;&ndash;&gt;
&lt;!&ndash;        let totalPrice = price;&ndash;&gt;

&lt;!&ndash;        if ([[${product.couponCode}]] != null && [[${product.couponCode}]] != "") {&ndash;&gt;
&lt;!&ndash;            totalPrice = [[${product.promotionPrice}]];&ndash;&gt;
&lt;!&ndash;            promotionValue = price - totalPrice;&ndash;&gt;
&lt;!&ndash;        }&ndash;&gt;
&lt;!&ndash;        $('#in-total-price').val(totalPrice);&ndash;&gt;
&lt;!&ndash;        $('#in-promotion-value').val(promotionValue);&ndash;&gt;

&lt;!&ndash;        let couponCode = [[${product.couponCode}]];&ndash;&gt;

&lt;!&ndash;        let sizeVn = [[${sizeVn}]];&ndash;&gt;

&lt;!&ndash;        let sizeUs = [[${sizeUs}]];&ndash;&gt;

&lt;!&ndash;        let sizeCm = [[${sizeCm}]];&ndash;&gt;

&lt;!&ndash;        function render() {&ndash;&gt;
&lt;!&ndash;          for (let i = 0; i < sizeVn.length; i++) {&ndash;&gt;
&lt;!&ndash;            let sizeChoose = `&ndash;&gt;
&lt;!&ndash;            <div class="item" data-size="${sizeUs[i]}US | ${sizeVn[i]}VN | ${sizeCm[i]}CM" data-id="${sizeVn[i]}">&ndash;&gt;
&lt;!&ndash;                ${sizeVn[i]}&ndash;&gt;
&lt;!&ndash;            </div>&ndash;&gt;
&lt;!&ndash;            `;&ndash;&gt;

&lt;!&ndash;            $('.size .select-filter').append(sizeChoose);&ndash;&gt;
&lt;!&ndash;          };&ndash;&gt;
&lt;!&ndash;        };&ndash;&gt;

&lt;!&ndash;        function sizeGuideRender() {&ndash;&gt;
&lt;!&ndash;          let tr = '';&ndash;&gt;
&lt;!&ndash;          for (let i = 0; i < sizeVn.length; i++) {&ndash;&gt;
&lt;!&ndash;            tr += `&ndash;&gt;
&lt;!&ndash;            <tr>&ndash;&gt;
&lt;!&ndash;              <td>${sizeVn[i]}</td>&ndash;&gt;
&lt;!&ndash;              <td>${sizeUs[i]}</td>&ndash;&gt;
&lt;!&ndash;              <td>${sizeCm[i]}</td>&ndash;&gt;
&lt;!&ndash;            </tr>&ndash;&gt;
&lt;!&ndash;            `;&ndash;&gt;
&lt;!&ndash;          }&ndash;&gt;
&lt;!&ndash;          $('.side-guide-table tbody').html(tr);&ndash;&gt;
&lt;!&ndash;        }&ndash;&gt;

&lt;!&ndash;        function activeSize() {&ndash;&gt;
&lt;!&ndash;          let availableSizes = [[${availableSizes}]]&ndash;&gt;

&lt;!&ndash;          for (let i = 0; i < sizeVn.length; i++) {&ndash;&gt;
&lt;!&ndash;            if (sizeVn[i] == [[${size}]]) {&ndash;&gt;
&lt;!&ndash;              $('.size-details').text(sizeUs[i] + "US | " + sizeVn[i] + "VN | " + sizeCm[i] + "CM")&ndash;&gt;
&lt;!&ndash;              break;&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;          }&ndash;&gt;

&lt;!&ndash;          $('.size .item').addClass('cross')&ndash;&gt;
&lt;!&ndash;          if (![[${notFoundSize}]]) {&ndash;&gt;
&lt;!&ndash;            $(`.item[data-size='${$('.size-details').text()}']`).addClass('size-choose').removeClass('cross');&ndash;&gt;
&lt;!&ndash;          }&ndash;&gt;

&lt;!&ndash;          for (let i = 0; i < availableSizes.length; i++) {&ndash;&gt;
&lt;!&ndash;            $(`.item[data-id='${availableSizes[i]}']`).removeClass('cross');&ndash;&gt;
&lt;!&ndash;          }&ndash;&gt;
&lt;!&ndash;        }&ndash;&gt;

&lt;!&ndash;        $('#btn-apply-coupon').click(function() {&ndash;&gt;
&lt;!&ndash;            let coupon = $('#in-coupon').val();&ndash;&gt;
&lt;!&ndash;            if (coupon == "") {&ndash;&gt;
&lt;!&ndash;                $('#in-coupon').val(couponCode);&ndash;&gt;
&lt;!&ndash;                toastr.warning("Bạn chưa nhập mã khuyến mãi");&ndash;&gt;
&lt;!&ndash;                return;&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;            $.ajax({&ndash;&gt;
&lt;!&ndash;			   	url: '/api/check-hidden-promotion?code='+coupon,&ndash;&gt;
&lt;!&ndash;			   	type: 'GET',&ndash;&gt;
&lt;!&ndash;			   	contentType: "application/json; charset=utf-8",&ndash;&gt;
&lt;!&ndash;			   	success: function(data) {&ndash;&gt;
&lt;!&ndash;                    couponCode = coupon;&ndash;&gt;
&lt;!&ndash;                    let tmp = data.discountValue;&ndash;&gt;
&lt;!&ndash;                    if (data.discountType == 1) {&ndash;&gt;
&lt;!&ndash;                        tmp = price * data.discountValue / 100;&ndash;&gt;
&lt;!&ndash;                    }&ndash;&gt;
&lt;!&ndash;                    if (tmp < data.maximumDiscountValue) {&ndash;&gt;
&lt;!&ndash;                        promotionValue = tmp;&ndash;&gt;
&lt;!&ndash;                    } else {&ndash;&gt;
&lt;!&ndash;                        promotionValue = data.maximumDiscountValue;&ndash;&gt;
&lt;!&ndash;                    }&ndash;&gt;
&lt;!&ndash;                    totalPrice = price - promotionValue;&ndash;&gt;
&lt;!&ndash;                    $('#in-price').val(price);&ndash;&gt;
&lt;!&ndash;                    $('#in-promotion-value').val(promotionValue);&ndash;&gt;
&lt;!&ndash;                    $('#in-total-price').val(totalPrice);&ndash;&gt;
&lt;!&ndash;                    formatMoney();&ndash;&gt;
&lt;!&ndash;			   	},&ndash;&gt;
&lt;!&ndash;			   	error: function(data) {&ndash;&gt;
&lt;!&ndash;			   	    $('#in-coupon').val(couponCode);&ndash;&gt;
&lt;!&ndash;			   		toastr.warning(data.responseJSON.message);&ndash;&gt;
&lt;!&ndash;			   	},&ndash;&gt;
&lt;!&ndash;			});&ndash;&gt;
&lt;!&ndash;        })&ndash;&gt;
        $('#btn-buy-now').click(function(){
                    alert(123);

        }
&lt;!&ndash;        $('#btn-buy-now').click(function() {&ndash;&gt;
&lt;!&ndash;            alert(123);&ndash;&gt;
&lt;!&ndash;            let receiverName = $('#in-user-fullname').val();&ndash;&gt;
&lt;!&ndash;            let receiverPhone = $('#in-user-phone').val();&ndash;&gt;
&lt;!&ndash;            let receiverAddress = $('#in-user-address').val();&ndash;&gt;
&lt;!&ndash;            let isValid = true;&ndash;&gt;
&lt;!&ndash;            if (receiverName.length == 0) {&ndash;&gt;
&lt;!&ndash;                fullNameInvalid = $('#in-user-fullname').next();&ndash;&gt;
&lt;!&ndash;                fullNameInvalid.css('display', 'block');&ndash;&gt;
&lt;!&ndash;                fullNameInvalid.html('Vui lòng nhập họ tên người nhận hàng');&ndash;&gt;
&lt;!&ndash;                isValid = false;&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;            if (receiverPhone.length == 0) {&ndash;&gt;
&lt;!&ndash;                phoneInvalid = $('#in-user-phone').next();&ndash;&gt;
&lt;!&ndash;                phoneInvalid.css('display', 'block');&ndash;&gt;
&lt;!&ndash;                phoneInvalid.html('Vui lòng nhập số điện thoại người nhận hàng');&ndash;&gt;
&lt;!&ndash;                isValid = false;&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;            let phoneFormat = new RegExp(/((09|03|07|08|05)+([0-9]{8})\b)/g);&ndash;&gt;
&lt;!&ndash;            if (!phoneFormat.test(receiverPhone)) {&ndash;&gt;
&lt;!&ndash;                phoneInvalid = $('#in-user-phone').next();&ndash;&gt;
&lt;!&ndash;                phoneInvalid.css('display', 'block');&ndash;&gt;
&lt;!&ndash;                phoneInvalid.html('Số điện thoại không hợp lệ');&ndash;&gt;
&lt;!&ndash;                isValid = false;&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;            if (receiverAddress.length == 0) {&ndash;&gt;
&lt;!&ndash;                addressInvalid = $('#in-user-address').next();&ndash;&gt;
&lt;!&ndash;                addressInvalid.css('display', 'block');&ndash;&gt;
&lt;!&ndash;                addressInvalid.html('Vui lòng nhập địa chỉ nhận hàng');&ndash;&gt;
&lt;!&ndash;                isValid = false;&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;            let size = $('.size-btn').val();&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;            let size = $('.size-choose').data("id");&ndash;&gt;&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;            if (size == null || size == "") {&ndash;&gt;&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;                $('.not-found-size').show();&ndash;&gt;&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;                isValid = false;&ndash;&gt;&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;            }&ndash;&gt;&ndash;&gt;

&lt;!&ndash;            if (isValid) {&ndash;&gt;
&lt;!&ndash;                req = {&ndash;&gt;
&lt;!&ndash;                    product_id: [[${product.id}]],&ndash;&gt;
&lt;!&ndash;                    size: size,&ndash;&gt;
&lt;!&ndash;                    receiver_name: receiverName,&ndash;&gt;
&lt;!&ndash;                    receiver_phone: receiverPhone,&ndash;&gt;
&lt;!&ndash;                    receiver_address: receiverAddress,&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;                    coupon_code: couponCode,&ndash;&gt;&ndash;&gt;
&lt;!&ndash;&lt;!&ndash;                    total_price: totalPrice,&ndash;&gt;&ndash;&gt;
&lt;!&ndash;                    product_price: price&ndash;&gt;
&lt;!&ndash;                }&ndash;&gt;
&lt;!&ndash;                var myJSON = JSON.stringify(req);&ndash;&gt;
&lt;!&ndash;                $.ajax({&ndash;&gt;
&lt;!&ndash;                    url: '/api/order',&ndash;&gt;
&lt;!&ndash;                    type: 'POST',&ndash;&gt;
&lt;!&ndash;                    data: myJSON,&ndash;&gt;
&lt;!&ndash;                    contentType: "application/json; charset=utf-8",&ndash;&gt;
&lt;!&ndash;                    success: function(data) {&ndash;&gt;
&lt;!&ndash;                        toastr.success("Đặt hàng thành công");&ndash;&gt;
&lt;!&ndash;                        setTimeout(function() {&ndash;&gt;
&lt;!&ndash;                            location.href = "/tai-khoan/lich-su-giao-dich/"+data;&ndash;&gt;
&lt;!&ndash;                        }, 1000)&ndash;&gt;
&lt;!&ndash;                    },&ndash;&gt;
&lt;!&ndash;                    error: function(data) {&ndash;&gt;
&lt;!&ndash;                        toastr.warning(data.responseJSON.message);&ndash;&gt;
&lt;!&ndash;                    },&ndash;&gt;
&lt;!&ndash;                });&ndash;&gt;
&lt;!&ndash;            }&ndash;&gt;
&lt;!&ndash;        })&ndash;&gt;
    </script>-->

</body>
</html>